.single{
    display: flex;

    .view{
        
        flex:1;
        .info{

            .topInfo{
                 display: flex;
                 align-items: center;
                 gap:20px;

                 img{
                    width: 100px;
                    height: 100px;
                    object-fit: cover;
                    border-radius: 20px;
                 }

                 h1{
                    font-weight: 500;
                 }
            }

            .details{
                    font-size: 18px;
            }
            .item{
                margin :30px 0px;
                display: flex;
               

                .itemTitle{
                    font-weight: 600;
                    margin-right: 10px;
                    text-transform: capitalize;
                }
            }
        }

        .chart{
            width: 80%;
            height: 400px;
            margin-top: 50px;

        }

    }
    .activities{
      flex:1;

      ul{
        li{
            list-style-type: none;
            position: relative;
            width: 1px;
            padding-top: 50mmpx;
            background-color: #f45b65;

            &::after{
                 content:"";
                 position:absolute;
                 left:50%;
                 bottom:0;
                 width: 10px;
                 height: 10px;
                 border-radius: 50%;
                 background-color:#f45b69;
                 transform: translateX(-50%);
            }
            div{
                min-width: 480px;
                padding: 15px;
                background-color: transparent;
            }
            p{
                margin-top: 5px;
            }
            span{
                font-size: 12px;
            }
        }
      }
    }
}


