@import "../../styles/responsive.scss";

.Bigchart{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    // background-color:aquamarine;

    h1{
        @include xxl{
            font-size: 24px;
           }
       }
        
    }

    .chart{
        width: 100%;
        height: 300px;
    }


